*{
    font-family: 'Ubuntu', sans-serif;
}

body{
	margin: 0;
}

header{
	margin: auto;
	background-color: #6246ea;
	width: 100%;	
	}

#logo{
	display: block;
	margin: auto;
	width: 80%;
	height: 20%;
}

.grid-container{
	margin-top: 20px;
	display: grid;
	grid-template-columns: auto auto auto auto;
}


nav{
	font-size: 1.2em;
	
}

nav a{
	display: flex;
	color: #FFFFFF;
	margin-right: 1em;
	justify-content: space-around;
}

.button{
	text-decoration: none;
}

.button:hover{
	transform: scale(1.1);
	text-decoration: underline;
	color: #757575;
}

@media only screen and (min-width: 768px){
	header{
		/* background-color: #d1d1e9; */
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	#logo{
		display: flex;
		margin: 0;
		justify-content: flex-start;
		width: 20%;
		height: 20%;
	}
	
	
	nav{
		font-size: 1.2em;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	
	nav a{
		display: flex;
		justify-content: space-around;
		margin-right: 1em;
		margin-bottom: 0;
		text-decoration: none;
	}

	nav a:hover{
		text-decoration: underline;
	}



}

/* INICIO HOME */


#servicios{
	grid-template-columns: 2;
	background-color: #D1C4E9;
	padding: 1px 20px 20px 20px;
	color: #212121;
}

h2{
	text-align: center;
	font-size: 2em;
}

#servicios img{
	grid-column-start: 1;
	grid-column-end: 2;
	width: 20em;
	height: 20em;
	border-radius: 100%;
	display: flex;
	margin: auto;
	border: 5px #fff solid;
	animation-name: ejemplo;
	animation-duration: 2s;
}

@keyframes ejemplo{
	0% {transform: scale(1.1);}
	25% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
}

.turno{
	display: flex;
	justify-content: center;
	margin: auto;
	width: 50%;
	text-decoration: none;
	font-weight: 600;
	background-color: #607D8B;
	margin-top: 20px;
	padding: 10px;
	color: #FFFFFF;
}

.turno:hover{
	transform: scale(1.1);
}

iframe{
	width: 90%;
	display: flex;
	margin: auto;
	padding-bottom: 20px;
}

@media only screen and (min-width: 768px){
	#servicios{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto;
		width: 100%;
	}

	h2{
		grid-column: 1 / 5;
		text-align: center;
		font-size: 2em;
	}
	

	#servicios img{
		grid-column: 2;
		grid-row: 2;
		margin: 0 auto;
	}

	#servicios article{
		grid-row-start: 2;
		grid-column-start: 3;
		margin: auto;
	}

}

/* FINAL HOME */

/* INICIO FOOTER */

footer{
    margin-top: auto;
    padding: 5px;
    background-color: #6246ea;
    text-align: center;
	color: white;
	display: grid;
	grid-template-columns: auto auto auto;
}

footer a{
	color: white;
}

.fa{
    color: white;
}

/* FINAL FOOTER */

/* ABOUT */
.profesional{
	display: flex;
	width: 90%;
	padding: 20px;
}

.profesional a{
	width: 20%;
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.profesional img{
	height: 100%;
	width: 100%;
	display: flex;
	justify-items: center;
}

.descripcion-profesional{
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 90%;
}

/* ABOUT */

*{box-sizing:border-box;}

form{
	width: 40%;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
    width:35%;
	font-weight:bold;
	display:inline-block;
}

form input, textarea{
    width: 45%;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:83%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

ul{
    list-style: none;
}

h1{
	text-align: center;
}

#galeria{
	display: grid;
	grid-template-columns: auto;
	width: 100%;
	margin: auto;
}

.img-galeria img{
	width: 90%;
	max-height: 200px;
	display: block;
	margin: auto;
}


@media only screen and (min-width: 768px){
	#galeria{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		width: 100%;
	}
}

@media only screen and (min-width: 1024px){
	#galeria{
		display: grid;
		grid-template-columns: auto auto auto;
		width: 100%;
	}
}